%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% ======================================== 配置文件 ======================================== %%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
[
	{game_center,
		[
			{center_node, 'game_center@192.168.177.129'},
			{http_port, 8081},      %% http端口
			{tcp_port, 13657},      %% tcp端口
			{listen_num, 5},        %% 侦听线程个数

			%% 账户信息
			{emysql, [
				{size, 1},
				{user, "root"},
				{password, "ABC_sql&1126"},
				{host, "192.168.177.129"},
				{port, 3306},
				{database, "game_center"},
				{encoding, utf8}]},

			{redis, [
				%% 用户信息表
				{pool_redis_user_info, [
					{name, {local, pool_redis_user_info}},
					{worker_module, eredis},
					{size, 10},
					{min_size, 5},
					{max_overflow, 10}
				], [
					{host, "127.0.0.1"},
					{port, 6379}
				]},

				%% 消息表
				{pool_redis_chat_msg, [
					{name, {local, pool_redis_chat_msg}},
					{worker_module, eredis},
					{size, 10},
					{min_size, 5},
					{max_overflow, 10}
				], [
					{host, "127.0.0.1"},
					{port, 6379}
				]},

				%% 用户游戏数据表
				{pool_redis_game_data, [
					{name, {local, pool_redis_game_data}},
					{worker_module, eredis},
					{size, 10},
					{min_size, 5},
					{max_overflow, 10}
				], [
					{host, "127.0.0.1"},
					{port, 6379}
				]}

			]}
		]

	},


	{lager, [
		{async_threshold, 5000},
		{async_threshold_window, 50},
		{crash_log, "/var/logs/game_center/crash.log"},
		{crash_log_msg_size, 65536},
		{crash_log_size, 10485760},
		{crash_log_date, "$D0"},
		{crash_log_count, 5},
		{error_logger_hwm, 200},
		{handlers, [
			{lager_console_backend, [{level, debug}]},
			{lager_file_backend,
				[{file, "/var/logs/game_center/error.log"},
					{level, error},
					{size, 1048576000},
					{date, "$D0"},
					{count, 10},
					{formatter_config,
						[date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", line, " ", message, "\n"]
					}]
			},
			{lager_file_backend,
				[{file, "/var/logs/game_center/console.log"},
					{level, debug},
					{size, 1048576000},
					{date, "$D0"},
					{count, 10},
					{formatter_config,
						[date, " ", time, " [", severity, "] ", pid, " ", module, ":", function, " ", line, " ", message, "\n"]
					}]
			}]
		}]
	}
].



